.app {
    display: flex;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: lightgrey;
    padding: 16px;
    border-radius: 16px;
    width: 100vw;
    min-height: 611px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-bottom: 1px solid gray;

        + .move {
            position: absolute;
            transition-duration: .25s;
            left: 16px;
            right: 16px;
        }

        + .top {
            z-index: 2;
        }

        + .behind {
            z-index: 1;
        }

        &:hover {
            background-color: aqua;
            transition-duration: 1s;
        }

        // &:last-child {
        //     border-bottom: none;
        // }

        &-order {
            padding: 2px 8px;
            border-radius: 50%;
            background-color: skyblue;
            color: white;
            margin-right: 8px;

            &.first {
                background-color: red;
            }

            &.second {
                background-color: orangered;
            }

            &.third {
                background-color: orange;
            }
        }
        
        &-score {
            flex: 1;
            text-align: right;
            color: red;
        }
    }
}